* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: red;
}

ul {
  list-style: none;
}

pre {
  color: red;
}

button {
  margin: 4px;
}

input {
  margin: 4px;
}

.App {
  margin-left: 20px;
  margin-top: 140px;
  background-color: #0038a8;
  border: dashed red 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

button {
  border-radius: 5px;
  box-shadow: none;
  border: none;
  background-color: red;
  color: white;
  padding: 10px;
}
